# Ignore compressed Wikipedia dump files
wiki_dumps
*.bz2
wiki-dump1.bz2

notable_humans.zip
notable_humans

# output files
*.jsonl

# test files
test_extractor.py

# regex extractor file not used anymore, llm preferred
regex_extractor.py

# saved model/embeddings
*.joblib

*.env
.DS_STORE
__pycache__